* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: black;
    background-color: #FBF9F6;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #000000;
    background-color: #FFEFE9;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 6px;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #FBF9F6;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three,
.footer-five,
.footer-seven,
.footer-nine,
.footer-eleven {
    background-color: #FFEFE9;
}









